[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "==2.2.3"
pillow = "*"
pmw = "*"
python-dotenv = "*"
# pyside2 = "*"

[dev-packages]
cython = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-xdist = "*"
flake8 = "*"
pylama = "*"
mypy = {editable = true, ref = "master", git = "https://github.com/python/mypy.git"}
autopep8 = "*"
pyinstaller = "*"
pipenv = "*"
pip = "==18.0"

[requires]
python_version = "3.7"
