[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
cython = "*"

[dev-packages]
pylama = "*"
mypy = "*"
pipenv = "*"
pyinstaller = "*"
pytest = "*"
coverage = "*"
cython = "*"

[requires]
python_version = "3.6.6"
