[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
cython = "*"
pillow = "*"
# pmw = "*"
# pyside2 = "*"

[dev-packages]
pylama = "*"
mypy = "*"
pipenv = "*"
pyinstaller = "*"
pytest = "*"
coverage = "*"
cython = "*"
"autopep8" = "*"


[requires]
python_version = "3.7"
