altgraph==0.16.1
Brotli==1.0.4
certifi==2018.4.16
cloudpickle==0.5.3
cycler==0.10.0
Cython==0.28.5
dask==0.18.1
docopt==0.6.2
future==0.16.0
jedi==0.12.1
joblib==0.12.0
kiwisolver==1.0.1
locket==0.2.0
macholib==1.10
matplotlib==2.2.2
numpy==1.15.0
parso==0.3.0
partd==0.3.8
pefile==2017.11.5
pipenv==2018.7.1
prompt-toolkit==1.0.15
ptpython==0.41
Pygments==2.2.0
PyInstaller==3.3.1
pyodbc==4.0.23
pyparsing==2.2.0
pypiwin32==223
python-dateutil==2.7.3
python-snappy==0.5.3
pythonnet==2.4.0.dev0
pytz==2018.5
pywin32==223
QtPy==1.4.2
six==1.11.0
sqlite-bro==0.8.11
toolz==0.9.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
wcwidth==0.1.7
winpython==1.10.20180624
